# Created by .ignore support plugin (hsz.mobi)
### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env


### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

